header {
    width: 100%;
    .d-header{
        width: 100%;
        .d-menu{ 
            width: 100%;
            height: 12vh;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            .d-logo{
                width: 20%;
                a{
                    color: white;
                    margin: 0;
                    font-size: 150%;
                    text-decoration: none;
                    text-align: center;
                }
            }
            nav {
                width: 50%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                a {
                    color: rgba(255, 255, 255, 0.74);
                    text-decoration: none;
                    font-size: 16px;
                    margin: 0px 10px;
                }
            }
            div {
                width: 30%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                .botonDonar{
                    border: 1.5px solid $waring;
                    font-weight: bold;
                    padding: 5px 30px;
                    border-radius: 6px;
                    text-decoration: none;
                    color: $waring;
                }
                input {
                    width: 100%;
                    background-color: $negrito;
                    border: 2px solid white;
                }

            }
        }
        @media screen and(max-width:$breackPoint10){
            .d-menu{
                flex-wrap: wrap;
                padding: 0px;
                height: auto;
                .d-logo {
                    width: 100%;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                }
                nav {
                    width: 100%;
                    padding: 10px;
                    flex-wrap: wrap;
                    justify-content: center;
                }
                div {
                    width: 100%;
                    justify-content: center;
                    padding: 10px;
                    align-items: center;
                    a {
                        padding: 5px 80px !important;
                    }
                }
            }
        }
    }
}