.d-izq-menu{
    width: 360px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    border-radius: 30px;         
    background-color: rgba(0, 0, 0, 0.123);

    .result{
        background: $negrito;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        div {
            padding: 5px 0px;
            text-align: center;
            h1 {
                font-size: 30px;
            }
        }
    }
    .total {
        background: $negrito;
        width: 100%;
        padding: 15px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div {
            text-align: center;
            padding: 5px 0px;
            h3 {
                color: white;
                font-size: 20px;
                font-weight: normal;
            }
            p {
                font-weight: bold;
                font-size: 40px;
            }
        }
    }

    .redes {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        a {
            padding: 10px;
            text-decoration: none;
            ion-icon{
                font-size: 30px;
                color: white;
            }
            &:hover {
                ion-icon {
                   color: rgba(255, 255, 255, 0.568);
                }
            }
        }
    }

    @media screen and(max-width:$breackPoint10){
        width: 100%;
    }

}