// ---Tarjeta tracking----
#tarjeta{
    background-color: $negrito;
    width:300px;
    margin: 20px auto;
    border-radius: 10px;
    div{
        width: 100%;
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        text-align: center;
        h4{
            font-weight: bold;
            color: white;
            font-size: 20px;
        }
        h5{
            color: white;
            font-size: 16px;
            font-weight: normal;
            span {
                font-weight: bold;
            }
        }
        p{
            margin: 0;
            padding: 0px 10px;
            font-size: 16px;
            color: gray;
            span {
                font-weight: normal;
            }
        }
    }
    @media screen and(max-width:$breackPoint10){ 
        width: 500px;
        div {
            width: 100% !important;
        }
    }
    @media screen and(max-width: 550px ) {
        width: 100%;
    }
}