@import './variables';
@import './header';
@import './tarjeta';
@import './menu-izquierdo';

.seccion-Bienvenida{
    width: 100%;
    .d-carga{
        width: 100% !important;
        height: 5vh !important;
    }
    p {
        margin: 0;
    }
    .sec-bienvenida{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .d-central{
            width: 950px;
            height: 100vh;
            margin: 0px auto;
            background-color: rgba(0, 0, 0, 0.123);
            overflow-y: scroll;
            padding: 10px 0px;
            border-radius: 20px;
            &::-webkit-scrollbar {
                width: 10px;
                background:transparent;
            }
            &::-webkit-scrollbar-thumb{
                background: rgb(250, 250, 250);
                border-radius: 30px;
                height: 80px !important;
            }
            .resultados-paises {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;

            }
            .d-select{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap !important;
                p {
                    font-size: 20px;
                    margin: 10px 20px;
                }
                select {
                    margin: 10px 20px;
                    width: 50%;
                    background-color: transparent;
                    border: 2px solid white;
                    color: white;
                    border-radius: 5px;
                    font-weight: bold;
                    padding: 10px;
                    option {
                        background-color: rgb(6, 0, 34) ;
                    }

                    &:hover {
                        background-color: rgb(6, 0, 34);
                    }
                }
            }
            .restart{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: all .4s;
                div{
                    padding: 0 1em;
                    p {
                        margin: 0;
                        font-weight: normal;
                    }
                }
            }
            .restartOpen{
                opacity: 1;
                transition: all .4s;
            }
        }
        @media screen and(max-width:$breackPoint10) {
            flex-wrap: wrap;
            .d-central {
                width: 100%;
            }
        }
    }
}

footer{
    width: 100%;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    div{
        padding: 2em 0;
        text-align: center;
        p {
            margin: 0;
            font-weight: normal;
        }
    }
}