body {
  background-color: #00051d;
  overflow-x: hidden;
}

body h1,
body p,
body label {
  color: white;
}

.alert {
  width: 100%;
  border-radius: 0px !important;
  text-align: center;
  color: white;
  background-color: #00051de8;
  font-weight: normal;
  padding: 20px 10px;
}

.alert a {
  font-weight: bold;
  color: white;
}

header #div-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #div-header div {
  width: 80%;
}

header #div-header h1 {
  font-size: 350%;
  font-weight: bold;
}

@media screen and (max-width: 577px) {
  header #div-header h1 {
    font-size: 250%;
  }
}

header #div-header P {
  font-size: 20px;
}

.d-total {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-total div {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #94949417;
  padding: 10px;
}

.d-total div h1 {
  font-size: 30px;
  font-weight: bold;
}

.d-total div p {
  font-size: 30px;
  font-weight: bold;
}

.d-total div p span {
  font-weight: normal;
  color: white;
}

.d-buscador {
  width: 100%;
  padding: 10px 0px;
}

.d-buscador div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.d-buscador div a {
  margin: 10px 20px;
}

.paises {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paises #tarjeta {
  width: 350px;
  margin: 20px auto;
  background-color: #00051de8;
  border-radius: 40px;
  border: 5px solid #5e17eb;
  color: white !important;
  padding: 20px;
}

.paises #tarjeta div h4 {
  -webkit-text-decoration: underline #5e17eb;
          text-decoration: underline #5e17eb;
}

.paises #tarjeta div p {
  margin: 0px;
}

footer .d-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .d-footer div {
  width: 500px;
  margin: 10px auto;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */