body {
  background-color: #00051d;
  overflow-x: hidden;
  font-weight: bold;
}

body h1,
body p,
body label {
  color: white;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: royalblue;
  border-radius: 30px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

header {
  width: 100%;
}

header .d-header {
  width: 100%;
}

header .d-header .d-menu {
  width: 100%;
  height: 12vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .d-header .d-menu .d-logo {
  width: 20%;
}

header .d-header .d-menu .d-logo a {
  color: white;
  margin: 0;
  font-size: 150%;
  text-decoration: none;
  text-align: center;
}

header .d-header .d-menu nav {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .d-header .d-menu nav a {
  color: rgba(255, 255, 255, 0.74);
  text-decoration: none;
  font-size: 16px;
  margin: 0px 10px;
}

header .d-header .d-menu div {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .d-header .d-menu div .botonDonar {
  border: 1.5px solid #ffc107;
  font-weight: bold;
  padding: 5px 30px;
  border-radius: 6px;
  text-decoration: none;
  color: #ffc107;
}

header .d-header .d-menu div input {
  width: 100%;
  background-color: #00051de8;
  border: 2px solid white;
}

@media screen and (max-width: 1100px) {
  header .d-header .d-menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0px;
    height: auto;
  }
  header .d-header .d-menu .d-logo {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
  }
  header .d-header .d-menu nav {
    width: 100%;
    padding: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .d-header .d-menu div {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .d-header .d-menu div a {
    padding: 5px 80px !important;
  }
}

#tarjeta {
  background-color: #00051de8;
  width: 400px;
  margin: 20px auto;
  border-radius: 8px;
}

#tarjeta div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#tarjeta div h4 {
  font-weight: bold;
  color: white;
  font-size: 20px;
}

#tarjeta div h5 {
  color: white;
  font-size: 16px;
  font-weight: normal;
}

#tarjeta div h5 span {
  font-weight: bold;
}

#tarjeta div p {
  margin: 0;
  padding: 0px 10px;
  font-size: 16px;
  color: gray;
}

#tarjeta div p span {
  font-weight: normal;
}

#tarjeta #da {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.068);
  border-radius: 8px;
}

@media screen and (max-width: 1100px) {
  #tarjeta {
    width: 500px;
  }
  #tarjeta div {
    width: 100% !important;
  }
}

@media screen and (max-width: 550px) {
  #tarjeta {
    width: 100%;
  }
}

.d-izq-menu {
  width: 360px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 20px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.123);
}

.d-izq-menu .result {
  background: #00051de8;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.d-izq-menu .result div {
  padding: 5px 0px;
  text-align: center;
}

.d-izq-menu .result div h1 {
  font-size: 30px;
}

.d-izq-menu .total {
  background: #00051de8;
  width: 100%;
  padding: 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-izq-menu .total div {
  text-align: center;
  padding: 5px 0px;
}

.d-izq-menu .total div h3 {
  color: white;
  font-size: 20px;
  font-weight: normal;
}

.d-izq-menu .total div p {
  font-weight: bold;
  font-size: 40px;
}

.d-izq-menu .redes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-izq-menu .redes a {
  padding: 10px;
  text-decoration: none;
}

.d-izq-menu .redes a ion-icon {
  font-size: 30px;
  color: white;
}

.d-izq-menu .redes a:hover ion-icon {
  color: rgba(255, 255, 255, 0.568);
}

@media screen and (max-width: 1100px) {
  .d-izq-menu {
    width: 100%;
  }
}

.seccion-Bienvenida {
  width: 100%;
}

.seccion-Bienvenida .d-carga {
  width: 100% !important;
  height: 5vh !important;
}

.seccion-Bienvenida p {
  margin: 0;
}

.seccion-Bienvenida .sec-bienvenida {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccion-Bienvenida .sec-bienvenida .d-central {
  width: 950px;
  height: 100vh;
  margin: 0px auto;
  background-color: rgba(0, 0, 0, 0.123);
  overflow-y: scroll;
  padding: 10px 0px;
  border-radius: 20px;
}

.seccion-Bienvenida .sec-bienvenida .d-central::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

.seccion-Bienvenida .sec-bienvenida .d-central::-webkit-scrollbar-thumb {
  background: #fafafa;
  border-radius: 30px;
  height: 80px !important;
}

.seccion-Bienvenida .sec-bienvenida .d-central .resultados-paises {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.seccion-Bienvenida .sec-bienvenida .d-central .d-select {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
}

.seccion-Bienvenida .sec-bienvenida .d-central .d-select p {
  font-size: 20px;
  margin: 10px 20px;
}

.seccion-Bienvenida .sec-bienvenida .d-central .d-select select {
  margin: 10px 20px;
  width: 50%;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px;
}

.seccion-Bienvenida .sec-bienvenida .d-central .d-select select option {
  background-color: #060022;
}

.seccion-Bienvenida .sec-bienvenida .d-central .d-select select:hover {
  background-color: #060022;
}

@media screen and (max-width: 1100px) {
  .seccion-Bienvenida .sec-bienvenida {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .seccion-Bienvenida .sec-bienvenida .d-central {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */